@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
    max-width: 100%;
}

:root{
    --primary-color: #011f49;
    --secondary-color: #ffffff;
    --tertiary-color: #d1d9dd;
    --dark-blue: #072857;
    --green: #074901;
    --whatsapp-green: #13be5a;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: var(--tertiary-color);
    margin:0;
    padding:0;
    padding-top: 23vh;
    overflow-y: auto;
    background-image: url(img/20260111_144414.png);
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#fundo{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    user-select: none;
}

.botoes{
    margin-top: 1.875rem;
    width: 30%;
    height: 8vh;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 0.625rem;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    margin-left: 0; 
    font-size: larger;
}

#botao2{
    background-color: var(--green);
}


#whatsapp{
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 100;
    background-color: var(--whatsapp-green);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: url('img/whatsapp.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    z-index: 100;
}


#copyright{
    position: fixed;
    bottom: 0;
    left: 2%;
    color: var(--secondary-color);
    transform: scale(0.8);
}

#whatsapp:hover{
    transform: scale(1.02);
}

.botoes:hover{
    transform: scale(1.03);
}
.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5%;
}

.home{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 15px ;
}

#description{
    font-size: 20px;
    width: 65%;
    color: var(--secondary-color);
    font-weight: 800;
    margin-left: 3%;
}
.slogan{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 9vw;
    height: 4rem;
    margin-left: 3%;
}

#logo{
    pointer-events: none;
    user-select: none;
}

a{
    display: inline-block;
    color: var(--secondary-color);
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}   

.button{
    display: flex;
    flex-direction: column;
    text-align: justify ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

section{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.text{
    width: 70%;
    text-align: justify;
    color: var(--secondary-color);
    transform: scale(1.06);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}