@import url('//fonts.googleapis.com/css?family=Quicksand');


body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: rgb(209, 217, 221);
    margin:0;
    padding:0;
    padding-top: 11%;
    overflow-y: auto;
    background-image: url(img/20260111_144414.png);
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011f49;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#fundo{
    width: 101%;
    height: 100vh;
    margin-bottom: 30px;
    z-index: 1;
    position: fixed;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    user-select: none;
}

.botoes{
    margin-top: 30px;
    width: 400px;
    height: 60px;
    background-color: #072857;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0; 
    font-size: larger;
}

#botao2{
    background-color: #074901;
}


.whatsapp{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 4%;
    bottom: 4%;
    z-index: 100;
    background-color: #13be5a;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#whatsapp{
    margin: 0;
    transform: scale(0.22);
    margin-top: 0;
    
}

#copyright{
    position: fixed;
    bottom: 0;
    left: 2px;
    color: white;
    transform: scale(0.8);

}

.whatsapp:hover{
    transform: scale(1.02);
}

.botoes:hover{
    transform: scale(1.03);
}
.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 7px;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 15px;
    margin-bottom: 15px ;
}

#description{
    font-size: 20px;
    width: 65%;
    color: white;
    font-weight: 800;
    margin-left: 5%;
}
.slogan{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 65px;
    height: 65px;
}

#logo{
    pointer-events: none;
    user-select: none;
}

a{
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}   

.button{
    display: flex;
    flex-direction: column;
    text-align: justify ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

section{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.text{
    width: 70%;
    text-align: justify;
    color: white;
    transform: scale(1.06);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}