@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
    max-width: 100%;
}

:root{
    --primary-color: #011f49;
    --secondary-color: #d1d9dd;
    --text-color: #000000;
    --background-color: #9da9bd;
    --tertiary-color: #bbc3da;
    --dark-blue: #072857;
    --green: #074901;
    --whatsapp-green: #13be5a;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    padding-top: 30vh;
    overflow-y: auto;
    background-image: url(img/gif-pc-fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#fundo{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    user-select: none;
}

.botoes{
    margin-top: 1rem;
    width: 40%;
    height: 8vh;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    font-size: larger;
    margin-bottom:20px
}



#whatsapp{
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 100;
    background-color: var(--whatsapp-green);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: url('img/whatsapp.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    z-index: 100;
}


#copyright{
    position: fixed;
    bottom: 0;
    left: 2%;
    color: var(--secondary-color);
    transform: scale(0.8);
}

#whatsapp:hover{
    transform: scale(1.02);
}

.botoes:hover{
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: var(--text-color) solid 1px;
    transform: scale(1.01);
}
.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5%;
}

.home{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 15px ;
}

#description{
    width: 65%;
    color: var(--secondary-color);
    font-weight: 500;
}
.slogan{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 9vw;
    height: 4rem;
    margin-left: 3%;
}

#logo{
    pointer-events: none;
    user-select: none;
}

a{
    display: inline-block;
    color: var(--secondary-color);
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}   

.button{
    display: flex;
    flex-direction: column;
    text-align: justify ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

section{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.text{
    width: 90%;
    text-align: center;
    color: var(--text-color);  
    font-size: 1.5rem;
    font-weight: 500;
}

#text{
    margin-top:15px;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: #000000 0px 0px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    width:70%;
    background-color:var(--background-color);
    transform: scale(1.15);
}

@media (max-width: 768px) {
    #description{
        margin-top:6%;
        font-size: 0.8rem;
        width: 70%;
        margin-left: 4%;
    }
    main{
        width:80%;
        transform: scale(1.05);
    }

    body{
        padding-top: 22vh;
        background-image: url(img/gif-fundo-celular\ \(2\)\ \(1\).gif);
        background-size: cover;
        background-position: center;
    }

    .botoes{
        width: 70%;
        height: 5vh;
        font-size: medium;
    }
    #logolink{
        margin-top: 5%;
        width: 28vw;
        height: 3.6rem;
        margin-left: 5%;
    }
    .text{
        width: 80%;
        font-size: large;
        font-size: 1.18rem;
    }

    #text{
        text-align: center;
        width: 80%;
        font-size: 1.7rem;
    }

    .sumary a{
        font-size: small;
    }

    #whatsapp{
        width: 4rem;
        height: 4rem;
        right: 4%;
        bottom: 2%;
    }

    #copyright{
        transform: scale(0.6);
    }

    header{
        height: 15vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(101, 103, 107, 0.459), 0 6px 20px 0 rgba(15, 89, 107, 0.19);
    }
}