@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #011f49;
    --secondary-color: #ffffff;
    --tertiary-color: #d1d9dd;
    --light-blue: #6ca0dc;
    --black: #000000;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: var(--tertiary-color);
    margin:0;
    padding:0;
    padding-top: 30vh;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copyright{
    transform: scale(0.8);
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5rem;
}

footer{
    bottom:0;
    left:0;
    width: 100%;
    display:flex;
    position: fixed;
    justify-content: left;
    align-items: left;
    z-index: 1;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem ;
}

#description{
    font-size: 1.25rem;
    width: 65%;
    color: var(--secondary-color);
    font-weight: 800;
    margin-left: 5%;
}

p{
    color: var(--black);
    width: 100%;
    font-weight: bold;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 4rem;
    height: 4rem;
}

a{
    display: inline-block;
    color: var(--secondary-color);
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    text-decoration: none;
}

a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}

#logo{
    pointer-events: none;
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#form-services{
    transform: scale(1.3);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 40vw;
    height:4.5vh;
    border-radius: 4px;
    margin-top: 5px;
    border: none;
}

#send{
    margin-top: 10%;
    width: 15vw;
    height: 5.7vh;
    border-radius: 10px;
    background-color: var(--light-blue);
    border: none;
    border-radius: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    margin-left: 0; 
    font-size: large;
}
#send:hover{
    transform: scale(1.02);
}

label{
    margin-top: 7%;
}

select{
    width: 40vw;
    height:4.5vh;
    border-radius: 4px;
    border: none;
}

@media (max-width: 768px) {
    #description{
        margin-top: 5%;
        font-size: 0.8rem;
        width: 80%;
        margin-left: 8%;
    }

    body{
        padding-top: 24vh;
    }

    .form-services{
        width: 100%;
    }

    input{
        width: 60vw;
        height: 3vh;
    }

    select{
        width: 60vw;
        height: 3vh;
    }

    label{
        font-size: 0.8rem;
    }

    #send{
        width: 35vw;
        height: 4vh;
        font-size: medium;
        border-radius: 7px;
    }
    #logolink{
        width: 15vw;
        height: 3.4rem;
        margin-left: 1.4%;
        margin-top: 4%;
    }
    
    .text{
        width: 70%;
        font-size: medium;
    }

    .sumary a{
        font-size: small;
    }

    #copyright{
        transform: scale(0.6);
    }

    header{
        height: 15vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(101, 103, 107, 0.459), 0 6px 20px 0 rgba(15, 89, 107, 0.19);
    }
}