@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: rgb(209, 217, 221);
    margin:0;
    padding:0;
    padding-top: 30vh;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011f49;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    transform: scale(0.8);
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom:0.4%;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-bottom: 3%;
}

#description{
    font-size: 1.3rem;
    width: 65%;
    color: white;
    font-weight: 800;
    margin-left: 1%;
}

p{
    color: black;
    width: 100%;
    font-weight: bold;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 9vw;
    height: 10vh;
}

a{
    display: inline-block;
    color: white;
    margin-left: 2%;
    margin-top: 0.7%;
    text-decoration: none;
}

a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}

#logo{
    pointer-events: none;
    user-select: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#form-services{
    transform: scale(1.3);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 40vw;
    height:4.5vh;
    border-radius: 4px;
    margin-top: 5px;
    border: none;
}

#send{
    margin-top: 10%;
    width: 15vw;
    height: 5.7vh;
    border-radius: 10px;
    background-color: #6ca0dc;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0; 
    font-size: large;
}
#send:hover{
    transform: scale(1.02);
}

label{
    margin-top: 7%;
}

select{
    width: 40vw;
    height:4.5vh;
    border-radius: 4px;
    border: none;
}
