@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: rgb(209, 217, 221);
    margin:0;
    padding:0;
    padding-top: 22vh;
    overflow-y: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

#copyright{
    padding-top: 3%;
    transform: scale(0.8);
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011f49;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    transform: scale(1.08);
    padding-bottom: 20px;
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 7px;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 15px;
    margin-bottom: 15px ;
}

#description{
    font-size: 20px;
    width: 65%;
    color: white;
    font-weight: 800;
    margin-left: 5%;
}

p{
    color: black;
    width: 500px;
    font-weight: 500;
    padding-left: 15px;
}

h2{
    padding-left: 15px;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 65px;
    height: 65px;
}

#logo{
    pointer-events: none;
    user-select: none;
}

a{
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}

.cards{
    background-color: rgb(198, 205, 226);
    border-radius: 15px;
}

.cards:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
