@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #011f49;
    --secondary-color: #ffffff;
    --tertiary-color: #d1d9dd;
    --card-blue: #c6cde2;
    --black: #000000;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: var(--tertiary-color);
    margin:0;
    padding:0;
    padding-top: 22vh;
    overflow-y: auto;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width:100%;
}

#title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

#copyright{
    padding-top: 3%;
    font-size: small;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    transform: scale(1.08);
    padding-bottom: 20px;
    width: 90%;
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem ;
}

#description{
    font-size: 1.25rem;
    width: 65%;
    color: var(--secondary-color);
    font-weight: 800;
    margin-left: 5%;
}

p{
    color: var(--black);
    width: 500px;
    font-weight: 500;
    padding-left: 1rem;
}

h2{
    padding-left: 1rem;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 4rem;
    height: 4rem;
}

#logo{
    pointer-events: none;
    user-select: none;
}

a{
    display: inline-block;
    color: var(--secondary-color);
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}

.cards{
    background-color: var(--card-blue);
    border-radius: 15px;
}

.cards:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
    #description{
        margin-top: 5%;
        font-size: 0.8rem;
        width: 60%;
        margin-left: 8%;
    }

    body{
        padding-top: 15vh;
        width: 100%;
    }

    .card-container{
        margin-left: 4%;
        transform: scale(1);
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main{
        width: 100%;
    }

    .cards p{
        width: 90%;
        text-align: center;
    }

    .cards h2{
        font-size: 1.4rem;
    }

    #logolink{
        width: 15vw;
        height: 3.4rem;
        margin-left: 1.4%;
        margin-top: 4%;
    }
    .text{
        width: 70%;
        font-size: medium;
    }

    #copyright{
        width: 90%;
        padding-left: 15px;
    }

    .sumary a{
        font-size: small;
    }

    header{
        height: 15vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(101, 103, 107, 0.459), 0 6px 20px 0 rgba(15, 89, 107, 0.19);
    }
}