@import url('//fonts.googleapis.com/css?family=Quicksand');


body{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: rgb(209, 217, 221);
    margin:0;
    padding:0;
    padding-top: 180px;
    overflow-y: auto;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011f49;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 100;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 60px;
    transform: scale(1.08);
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 7px;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 15px;
    margin-bottom: 15px ;
}

#description{
    font-size: 20px;
    width: 65%;
    color: white;
    font-weight: 800;
    margin-left: 5%;
}

p{
    color: black;
    width: 500px;
    font-weight: 500;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 65px;
    height: 65px;
}

a{
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}
