@import url('//fonts.googleapis.com/css?family=Quicksand');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #011f49;
    --secondary-color: #ffffff;
    --tertiary-color: #d1d9dd;
    --card-blue: #ced1da;
    --black: #000000;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    background-color: var(--tertiary-color);
    margin:0;
    padding:0;
    padding-top:11%;
    overflow-y: auto;
    
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 20vh;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copyright{
    transform: scale(0.8);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: 10px;
}

.foto{
    margin-top: 20px;
    width: 24vw;
    height: auto;
    border: outset, black;
    pointer-events: none;
    user-select: none;
    margin-bottom: 15px;
}

.linha{
    justify-content: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 4%;
    border: black solid;
    border-radius: 15px;
    background-color: var(--card-blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i{
    margin-bottom: 20px;
}

.sumary{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem ;
}


#description{
    font-size: 1.25rem;
    width: 65%;
    color: var(--secondary-color);
    font-weight: 800;
    margin-left: 5%;
}

p{
    font-size: 1.35rem;
    color: var(--black);
    width: 80%;
    text-align: center;
}

h4{
    width: 56vw;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
}

h2{
    font-size:2.5rem;
}

h3{
    font-size:2rem;
}

#logolink{
    display: flex;
    justify-content: left;
    width: 4rem;
    height: 4rem;
}

a{
    display: inline-block;
    color: var(--secondary-color);
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    text-decoration: none;
}
a:hover{
    transform: scale(1.05);
}

#logolink:hover{
    transform: scale(1);
}

.equipe{
    width: 18.75rem;
    height: 18.75rem;
}

section a{
    transform: scale(1.7);
    color: var(--black);
    margin-right: 20px;
    margin-left: 0;
}

section a:hover{
    transform: scale(1.8);
}

#logo{
    pointer-events: none;
    user-select: none;
}

@media (max-width: 768px) {
    #description{
        margin-top: 5%;
        font-size: 0.8rem;
        width: 60%;
        margin-left: 8%;
    }

    p{
        font-size: 1rem;
        width: 90%;
        font-weight: 600;
        text-align: center;
    }

    .linha{
        gap: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        border: black solid;
        border-radius: 15px;
        background-color: var(--card-blue);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    i{
        margin-bottom: 15px;
    }

    .foto{
        width: 60vw;
    }

    .linha h3{
        font-size: 1.5rem;
    }

    .description{
        font-size: 1rem;
        width: 90%;
        margin-left: 5vw;
    }
    
    #copyright{
        transform: scale(0.6);
    }

    body{
        padding-top:15vh;
    }

    h4{
        width: 90%;
        font-size: 1rem;
    }

    #logolink{
        width: 15vw;
        height: 3.4rem;
        margin-left: 1.4%;
        margin-top: 4%;
    }

    .text{
        width: 70%;
        font-size: medium;
    }

    .sumary a{
        font-size: small;
    }

    header{
        height: 15vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(101, 103, 107, 0.459), 0 6px 20px 0 rgba(15, 89, 107, 0.19);
    }
}